:root {
    --main-background: #121212;
    --input-bar-background: #2E2E2F;
    --search-btn-background: #4B4B4B;
    --main-text: #FFFFFF;
    --placeholder-text: #A5A5A5;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--main-text);
    background-color: var(--main-background);
    margin: 0;
    padding: 0;
}

/* Typography */

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

h1 {
   font-size: 2.625rem; 
}

h2 {
    font-size: 1.125rem;
}

a, p {
    font-size: 0.875rem;
}

h4, span {
    font-size: 0.75rem;
}

/* Main Section */

main {
    max-width: 34.375rem;
    border: 1px solid #fff;
    margin: 0 auto;
    position: relative;
}

.header-section, .movie-article, .movie-details {
    display: flex;
    align-items: center;
}

/* Header section */

.header-section {
    background-image: url(./assets/bg-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 3.5em 0;
    justify-content: space-around;
}

.options {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.options:hover,
.options:active,
.options:focus {
    color: #A5A5A5;
}

/* Search Section */

.search-section {
    display: flex;
    width: 85%;
    margin: 0 auto;
    position: absolute;
    top: 145px;
    left: 35px;
}

.search-icon {
    width: 1.2rem;
    padding: 0.5em;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#search-input {
    flex-grow: 1;
    font-family: inherit;
}

::placeholder {
    color: var(--placeholder-text);

}

#search-input,
.search-icon {
    background-color: var(--input-bar-background);
    border: none;
    outline: none;
}

#search-btn {
    width: 7rem;
    background-color: var(--search-btn-background);
    border: none;
    color: inherit;
    font-family: inherit;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Movie Card Section */

.movie-section {
    padding: 3em 2em;
}

.movie-article {
    padding-bottom: 1.5em;
    border-bottom: 1.5px solid #2c2c2c;
}

